<div class="container-final-card">
    <div class="wrrap">
        <div class="container-final-img">
            <img src={{image}} alt="Photo" class="final-img">
        </div>    
        <div class="text-container">
            <p class="final-name">{{name}}</p>
            <p class="final-description">{{description}}</p>
            <div class="final-text-container">
                <p class="text">Discont: </p>
                <p class="txt">{{discontRate}}% Off</p>
            </div>
            <div class="final-text-container">
                <p class="text">Full Price: </p>
                <p class="txt"> Rp {{price}}</p>
            </div>
            <div class="final-text-container">
                <p class="text">Discounted price:</p>
                <p class="txt"> Rp {{finalPrice}}</p>
            </div>       
        </div>
    </div>
    <div class="btn-container">
        <div class="">
            <button class="card-btn-cart">Add to cart</button>
        </div>                    
    </div>
</div>    